.footer {
    padding-top: 40px;
    padding-bottom: 34px;
    background-color: var(--light-blue);
}

.logo {
    margin-bottom: 20px;
}

.num {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: var(--text---main);
    margin-bottom: 10px;
}

.time {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--text---grey);
    margin-bottom: 20px;
}

.link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text---main);
    width: 250px;
    margin-bottom: 5px;
}

.avtive {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: var(--text---grey);
    margin-bottom: 20px;
}

.footer_top {
    display: flex;
    gap: 90px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--divider);
}

.footer_bootom {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--text---grey);
}

.des {
    font-weight: 400;
    font-size: 12px;
    color: var(--text---grey);
}